{% load static%}
<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
  {% include 'global/partials/_head.html' %}
</head>
<body cz-shortcut-listen="true">    
  <header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'global/images/logo-no-background.png' %}" width="50" height="30" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vehicles:list' %}">Vehicles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Disabled</a>
            </li>
          </ul>
          <a class="btn btn-sm btn-outline-primary" href="#">Sign in</a>
          <a class="btn btn-sm btn-outline-primary" href="{% url 'users:register' %}">Register</a>
        </div>
      </div>
    </nav>
  </header>

  {% block content %} {% endblock %}

  <footer class="text-body-secondary py-5">
    <div class="container">
      <p class="mb-1">© GYV - Get Your Vehicle</p>
      <!-- <p class="mb-0">
        Quer dar uma olhada no repositório do projeto? 
        <a href="https://github.com/ViniCrK/Get-Your-Vehicle" target="_blank" >Clique nesse link</a>
         ou acesse meu perfil no GitHub - @<a href="https://github.com/ViniCrK/" target="_blank" >ViniCrK</a>.
      </p> -->
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<body>
</html>
