{% extends 'global/base.html' %} 

{% block content %}
<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="search pb-base mb-5 center">
      <form class="search-form" action="{% url 'vehicles:search' %}" method="get">
        <div class="search-content">
          <input
            class="search-input"
            type="search"
            name="search"
            id="search-input"
            placeholder="Modelo ou Marca"
            value="{{ search_value }}"
          >
          <button class="btn btn-primary" type="submit" aria-labelledby="search-label">
            Filtrar
          </button>
        </div>
      </form>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for vehicle in vehicles %}
          <div class="col">
            <div class="card shadow-sm">
              <div class="col-auto d-none d-lg-block">
                <img src="{{ vehicle.image.url }}" width="100%" height="280" alt="">
            </div>
              <div class="card-body">
                <p class="card-text">{{ vehicle.model }} ({{ vehicle.manufacture_year }})</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'vehicles:detail' vehicle.slug %}">
                      <button type="button" class="btn btn-md btn-outline-secondary">Saiba Mais</button>
                    </a>
                  </div>
                  <strong>
                    <small class="text-body-primary">{{ vehicle.brand }}</small>
                  </strong>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}
